[Unit]
Description=nodejs - myapp
After=syslog.target
After=network.target

[Service]
ExecStart=node /home/srv-node-sample/index.js
WorkingDirectory=PathToDir
Environment=NODE_ENV=production
User=daemon
Group=daemon
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-sample

[Install]
WantedBy=multi-user.target
